<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Portal de notícias</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <!-- JQuery -->
  <script src="js/jquery-2.2.1.js"></script>

  <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

  <!-- incluindo css -->
  <link href="css/style.css" rel="stylesheet">

  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/">
          <img src="/images/logo.png" />
        </a>
      </div>
  </nav>

  <div class="container">
      <% if(validacao.length > 0){ %>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger">
              <strong>Atenção!</strong>
              <ul>
                <% for(var i = 0; i < validacao.length; i++){ %>
                  <li>
                    <%= validacao[i].msg %>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>
        </div>
        <% } %>
        <div class="row">
          <div class="col-md-12">
            <form class="form-cadastro" action="/cadastrar" method="post">
              <div class="form-group">
                <label>
                  <b>Nome</b>
                </label>
                <input type="text" class="form-control"  value="<%=dadosForm.nome%>" placeholder="Informe o nome" name="nome">
              </div>

              <div class="form-group">
                <label>
                  <b>Tipo de Acesso</b>
                </label>

                <select class="form-control" value="<%=dadosForm.tipoacesso%>" name="tipoacesso">
                  <option value="Administrador">Administrador</option>
                  <option value="Consulta">Consulta</option>
                  <option value="Moderador">Moderador</option>
                </select>
              </div>

              <div class="form-group">
                <label>
                  <b>Login</b>
                </label>
                <input type="text" class="form-control" value="<%=dadosForm.login%>" placeholder="Informe o login" name="login">
              </div>

              <div class="form-group">
                <label>
                  <b>Senha</b>
                </label>
                <input type="password" class="form-control" value="<%=dadosForm.senha%>" placeholder="Informe a senha" name="senha">
              </div>

              <button type="submit" class="btn btn-default">Cadastrar</button>

            </form>

          </div>
        </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

</body>

</html>