<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>WASINFO System</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <!-- JQuery -->
  <script src="/js/jquery-2.2.1.js"></script>

  <!-- CSS MENU TOPO -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- MATERIAL ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS EJS PAGE NOTICIAS -->
  <link rel="stylesheet" href="/css/app.css">

  <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" />

</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <!-- Add your site or application content here -->
  <nav class="navbar navbar-default navbar-static-top">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/portalnoticias">
            <img src="/images/logo.png" />
          </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/cadastronoticia"> CADASTRAR NOTÍCIA </a>
            </li>
            <li>
              <a href="#/painel_configuracao_noticias">CONFIGURAR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>


  <div class="container">
    <label for="pwd">Pesquisar:</label>
    <p>
      <input type="text" class="form-control" id="pesquisar" placeholder="Pesquisar notícias" name="pesquisar" onchange="searchNoticia(this.value)">
    </p>
    <a href="/">Ver todas </a>
  </div>

  <div class="container">
    <% if(noticias.length > 0){ %>
      <% for(var i = 0; i < noticias.length; i++){ %>
        <div class="row">
          <div class="col-md-12">
            <div class="dropdown">
              <button class="dropbtn">
                <i class="material-icons dropbtn-icon">more_vert</i>
              </button>
              <div id="myDropdown" class="dropdown-content">
                <a class="dropbtn-icon" id="myBtn" href="#">Editar</a>
                <a href="#">Excluir</a>
              </div>
            </div>
            <div class="noticia_wrapper">
              <span class="noticia_autor">
                <%= noticias[i].autor %>
              </span>
              <a href="noticia?id_noticia=<%= noticias[i].id_noticia %>" class="noticia_titulo">
                <%= noticias[i].titulo %>
              </a>
              <span class="noticia_data">
                <%= noticias[i].data_noticia %>
              </span>
              <br />
              <p class="noticia_resumo">
                <%= noticias[i].resumo %>
              </p>
            </div>
          </div>
        </div>
        <% } %>
          <% } else { %>
            <div class="row">
              <div class="col-md-12">
                Nenhum resultado encontrado!
              </div>
            </div>
            <% } %>
  </div>

  <!-- Modal EDITAR-->
  <div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
              <strong>Cadastro de Notícias</strong>
            </h4>
          </div>
          <div class="modal-body">
            <p>
              <div class="form-group">
                <label for="pwd">Resumo:</label>
                <input type="text" class="form-control" id="resumo" name="resumo">
              </div>

              <div class="form-group">
                <label for="pwd">Autor:</label>
                <input type="text" class="form-control" id="autor" name="autor" ng-model="">
              </div>

              <div class="form-group">
                <label for="pwd">Data:</label>
                <input type="date" class="form-control" id="data_noticia" name="data_noticia">
              </div>

              <div class="form-group">
                <label for="pwd">Notícia:</label>
                <textarea class="form-control" id="noticia" name="noticia"></textarea>
              </div>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row ver_mais">
    <button type="button" class="btn btn-default">
      <a href="/portalnoticias">Voltar</a>
    </button>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    var searchNoticia = function (value) {
      window.location.href = `/noticias/${value}`;
      // $.get(`/noticias/${value}`, function (data) {
      //   console.log('data', data);
      //   noticias = data;
      // })
    }
  </script>

  <!-- menu editar. -->
  <script>

    // DropdownLib
    var dropdownLib = (function () {

      var start = function () {

        // elements open drowpdown
        $('.dropdown').find('button').click(_openDropdown);
        $('.dropdown').find('.dropdown-content').click(_openDropdown);

        // element close dropdowns
        window.onclick = function (event) {
          var notDropdown = $(event.target).closest('.dropdown').length === 0;
          if (notDropdown) _closeDropdowns();
        };
      }

      // Open Dropdown
      var _openDropdown = function (event) {

        var active = $(event.target)
          .closest('.dropdown')
          .find('.dropdown-content.active');

        if (active.length > 0)
          _closeDropdowns();

        else
        {
          var element = $(event.target)
            .closest('.dropdown')
            .find('.dropdown-content');

          element
            .addClass('active')
            .toggle("show");
        }
      };

      // Open Dropdown
      var _closeDropdowns = function () {
        $('.dropdown-content.active')
          .removeClass('active')
          .toggle('show');
      };

      return {
        start: start
      };
    })();

    $(function () {
      dropdownLib.start();
    });

  </script>

  <!-- Modal -->
  <script>
    $(document).ready(function () {
      $("#myBtn").click(function () {
        $("#myModal").modal();
      });
    });
  </script>

</body>

</html>