<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Portal de notícias</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->

  	<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>
	
		<!-- CSS MENU TOPO -->
		<link rel="stylesheet" href="css/style.css">
		
		<!-- CSS EJS PAGE NOTICIAS -->
		<link rel="stylesheet" href="css/app.css">
	
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
					
		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
     
<!-- WASINFO SITE APLICATION -->
<div class="pageHome" mt-none>
	<div class="menuhomeContainer">
			<div class="loginBox">
					<img src="./images/home/web/login_24px.png" class="loginIcon">
					
					<a class="active" href="/login"><div class="loginLabel">Login</div></a>
					
				 <!-- <a ng-class="{active: activetab == '/login'}"><a href="/login" class="nm-bt"><div class="loginLabel">Login</div></a> -->
			</div>
	</div>

	<div class="topnav">
			<div class="nav nav-tabs">
					<a href="/" class="nm-bt">Home</a>
					<a href="/noticiapage" class="nm-bt">Notícias</a>
					<a ng-class="{active: activetab == '/servicos'}"><a href="/servicos" class="nm-bt">Serviços</a>
					<a ng-class="{active: activetab == '/contato'}"><a href="/contato" class="nm-bt">Contato</a>
					<a ng-class="{active: activetab == '/sobre'}"><a href="/sobre" class="nm-bt">Sobre</a>
			</div>
	</div>


        <nav class="navbar navbar-default navbar-static-top">
					<nav class="navbar navbar-default navbar-static-top">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								
							<img src="images/logo.png" />
							</div>
			
							<div id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav navbar-right">
									<li><a href="/formulario_inclusao_noticia">ADICIONAR NOTÍCIA</a></li>
									<li><a href="/noticias">VER TODAS AS NOTÍCIAS</a></li>
									<li><a href="/painel_configuracao_noticias">CONFIGURAR</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</nav>
		
		
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="noticia_wrapper">
								<span class="noticia_autor">Por <%= noticias[0].autor %></span>
								<a href="noticia?id_noticia=<%= noticias[0].id_noticia %>" class="noticia_titulo"><%= noticias[0].titulo %></a>
								<span class="noticia_data"><%= noticias[0].data_noticia %></span>
								<br />
								<p class="noticia_resumo">
									<%= noticias[0].resumo %>
								</p>
							</div>
						</div>
	
						<div class="col-md-4">
							<div class="noticia_wrapper">
								<span class="noticia_autor">Por <%= noticias[1].autor %></span>
								<a href="noticia?id_noticia=<%= noticias[1].id_noticia %>" class="noticia_titulo"><%= noticias[1].titulo %></a>
								<span class="noticia_data"><%= noticias[1].data_noticia %></span>
	
								<br />
								<p class="noticia_resumo">
									<%= noticias[1].resumo %>
								</p>
							</div>
						</div>
					</div>
	
					<div class="row">
					<% for(var i = 2; i < noticias.length; i++){ %>
						<div class="col-md-4">
							<div class="noticia_wrapper">
								<span class="noticia_autor">Por <%= noticias[i].autor %></span>
								<a href="noticia?id_noticia=<%= noticias[i].id_noticia %>" class="noticia_titulo"><%= noticias[i].titulo %></a>
								<span class="noticia_data"><%= noticias[i].data_noticia %></span>
								<br />
								<p class="noticia_resumo">
									<%= noticias[i].resumo %>
								</p>
							</div>
						</div>
					<% } %>
					</div>
	
					<div class="row ver_mais">
						<button type="button" class="btn btn-default"><a href="noticias">Ver todas as notícias</a></button>
					</div>
	
				</div>
		
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
	

</body>

</html>