<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Portal de notícias</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <!-- Place favicon.ico in the root directory -->

  <!-- JQuery -->
  <script src="js/jquery-2.2.1.js"></script>

  <!-- MATERIAL ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS EJS PAGE NOTICIAS -->
  <link rel="stylesheet" href="css/app.css">

  <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />

  <!-- Modal -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <!-- Add your site or application content here -->
  <nav class="navbar navbar-default navbar-static-top">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/">
            <img src="/images/logo.png" />
          </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/cadastronoticia"> CADASTRAR NOTÍCIA </a>
            </li>
            <li>
              <a href="#/painel_configuracao_noticias">CONFIGURAR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>

  <!-- menu 1 -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="dropdown">
          <button class="dropbtn">
            <i class="material-icons dropbtn-icon">more_vert</i>
          </button>
          <div id="myDropdown" class="dropdown-content">
            <a class="dropbtn-icon" id="myBtn" href="#">Editar</a>
            <a href="#">Excluir</a>
          </div>
        </div>
        <div class="noticia_wrapper">
          <span class="noticia_autor">Por
            <%= noticias[0].autor %>
          </span>
          <a href="noticia?id_noticia=<%= noticias[0].id_noticia %>" class="noticia_titulo">
            <%= noticias[0].titulo %>
          </a>
          <span class="noticia_data">
            <%= noticias[0].data_noticia %>
          </span>
          <br />
          <p class="noticia_resumo">
            <%= noticias[0].resumo %>
          </p>
        </div>
      </div>

      <!-- menu 2 -->
      <div class="col-md-4">
        <div class="dropdown">
          <button class="dropbtn">
            <i class="material-icons dropbtn-icon">more_vert</i>
          </button>
          <div id="myDropdown" class="dropdown-content">
            <a class="dropbtn-icon" id="myBtn" href="#">Editar</a>
            <a href="#">Excluir</a>
          </div>
        </div>
        <div class="noticia_wrapper">

          <span class="noticia_autor">Por
            <%= noticias[1].autor %>
          </span>
          <a href="noticia?id_noticia=<%= noticias[1].id_noticia %>" class="noticia_titulo">
            <%= noticias[1].titulo %>
          </a>
          <span class="noticia_data">
            <%= noticias[1].data_noticia %>
          </span>
          <br />
          <p class="noticia_resumo">
            <%= noticias[1].resumo %>
          </p>
        </div>
      </div>
    </div>

    <!-- menu 3 -->
    <div class="row">
      <% for(var i = 2; i < noticias.length; i++){ %>
        <div class="col-md-4">
          <div class="dropdown">
            <button class="dropbtn">
              <i class="material-icons dropbtn-icon">more_vert</i>
            </button>
            <div id="myDropdown" class="dropdown-content">
              <a class="dropbtn-icon" id="myBtn" href="#">Editar</a>
              <a href="#">Excluir</a>
            </div>
          </div>
          <div class="noticia_wrapper">
            <span class="noticia_autor">Por
              <%= noticias[i].autor %>
            </span>
            <a href="noticia?id_noticia=<%= noticias[i].id_noticia %>" class="noticia_titulo">
              <%= noticias[i].titulo %>
            </a>
            <span class="noticia_data">
              <%= noticias[i].data_noticia %>
            </span>
            <br />
            <p class="noticia_resumo">
              <%= noticias[i].resumo %>
            </p>
          </div>
        </div>
        <% } %>
    </div>

    <!-- Modal EDITAR-->
    <div class="container">

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                <strong>Cadastro de Notícias</strong>
              </h4>
            </div>
            <div class="modal-body">
              <p>
                <div class="form-group">
                  <label for="pwd">Resumo:</label>
                  <input type="text" class="form-control" id="resumo" name="resumo">
                </div>

                <div class="form-group">
                  <label for="pwd">Autor:</label>
                  <input type="text" class="form-control" id="autor" name="autor">
                </div>

                <div class="form-group">
                  <label for="pwd">Data:</label>
                  <input type="date" class="form-control" id="data_noticia" name="data_noticia">
                </div>

                <div class="form-group">
                  <label for="pwd">Notícia:</label>
                  <textarea class="form-control" id="noticia" name="noticia"></textarea>
                </div>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row ver_mais">
      <button type="button" class="btn btn-default">
        <a href="noticias">Ver todas as notícias</a>
      </button>
    </div>

  </div>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  <!-- menu editar. -->
  <script>

    // DropdownLib
    var dropdownLib = (function () {

      var start = function () {

        // elements open drowpdown
        $('.dropdown').find('button').click(_openDropdown);
        $('.dropdown').find('.dropdown-content').click(_openDropdown);

        // element close dropdowns
        window.onclick = function (event) {
          var notDropdown = $(event.target).closest('.dropdown').length === 0;
          if (notDropdown) _closeDropdowns();
        };
      }

      // Open Dropdown
      var _openDropdown = function (event) {

        var active = $(event.target)
          .closest('.dropdown')
          .find('.dropdown-content.active');

        if (active.length > 0)
          _closeDropdowns();

        else
        {
          var element = $(event.target)
            .closest('.dropdown')
            .find('.dropdown-content');

          element
            .addClass('active')
            .toggle("show");
        }
      };

      // Open Dropdown
      var _closeDropdowns = function () {
        $('.dropdown-content.active')
          .removeClass('active')
          .toggle('show');
      };

      return {
        start: start
      };
    })();

    $(function () {
      dropdownLib.start();
    });

  </script>

  <!-- Modal -->
  <script>
    $(document).ready(function () {
      $("#myBtn").click(function () {
        $("#myModal").modal();
      });
    });
  </script>

</body>

</html>